

#header {
  background-image: linear-gradient(rgba(0, 0, 0, .6), rgb(110, 0, 0)), url("/aws_progetto/css/sfondoSitoAWS.jpg");
}

body {
    font-family: 'Roboto', sans-serif;
    background: linear-gradient(
        to bottom,
        rgba(0, 0, 0, 0.6),
        rgba(0, 0, 0, 0.6) 20%,
        rgba(28, 28, 28, 1) 80%,
        rgba(28, 28, 28, 1)
    ),
    url("/aws_progetto/php/sfondoSitoAWS.jpg");
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.main-container {
    text-align: center;
    padding: 40px;
    background-color: #4b0082;
    border-radius: 12px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
    max-width: 600px;
    width: 100%;
}

h1 {
    font-size: 36px;
    color: #fff;
    margin-bottom: 20px;
}

p {
    font-size: 18px;
    color: #dcdcdc;
    margin-bottom: 20px;
}

a {
    color: #ffa500;
    text-decoration: none;
    font-weight: bold;
}

a:hover {
    text-decoration: underline;
}

h2 {
    font-size: 28px;
    color: #dcdcdc;
    margin-top: 40px;
}

form {
    margin-top: 20px;
}

textarea {
    width: 100%;
    padding: 10px;
    border-radius: 8px;
    border: 1px solid #ddd;
    font-size: 16px;
}

button {
    margin-top: 10px;
    padding: 10px 20px;
    border: none;
    border-radius: 8px;
    background-color: #ffa500;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background-color: #cc8400;
}

#commentSection p {
    text-align: left;
    background-color: #333;
    color: #dcdcdc;
    padding: 10px;
    border-radius: 8px;
    margin-top: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
