/* Reset CSS */
body, html {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    background-image: url('sfondo.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100%; 
}

.form-container {
    width: 100%;
    max-width: 400px; /* Limita la larghezza massima del form */
    margin: 20px auto; /* Centra il form orizzontalmente e distanzia dal bordo superiore */
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.3); /* Overlay background */
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.form-container h1 {
    text-align: center;
    color: #00d0ff; 
    margin-bottom: 20px;
    font-size: 36px; 
    font-weight: bold;
    text-transform: uppercase; 
    letter-spacing: 2px; 
    font-family: 'Montserrat', sans-serif; 
}

.form-container form {
    background-color: #ffffff;
    border-radius: 8px;
    padding: 20px;
}

input[type="email"], input[type="password"], input[type="submit"] {
    width: 100%;
    padding: 12px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-sizing: border-box;
}

input[type="submit"] {
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #0056b3;
}

/* Responsive Design */
@media (max-width: 400px) {
    .form-container {
        padding: 15px;
    }
}

.register-link {
    padding: 10px 20px;
    border: none;
    border-radius: 8px;
    background-color: blue;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    text-decoration: none; /* Rimuove la sottolineatura predefinita */
    display: inline-block; /* Assicura che il padding funzioni come previsto */
    text-align: center;
    margin-left: 35%;
}


.register-link:hover {
    background-color: #cc8400;
}
